/* menu styling */
#menu{
    font-size: 110%;
    letter-spacing: 4px;
}

#logo, #menu{
    line-height: 75px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid #3a3a3a;
}

/* logo styling */
#logo {
    text-align: center;
    
}

/* footer styling */
.footer {
    text-align: center;
}

/* map styling */
#map-wrapper {
    width: 78em;
    height: 300px;
}
#map {
    height: 100%;
    width: 100%;
    border: none;
}

/* other */
.text-center {
    text-align: center;
}
#table-center {
    float: none;
    text-align: center;
}