#index-hero-img {
    margin: 0 auto;
    background-size: cover;
}
/* menu styling */
#menu{
    font-size: 110%;
    letter-spacing: 4px;
    line-height: 75px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid #3a3a3a;
}

/* footer styling */
#footer-container {
    text-align: center;
    background-color: orange;
}

#footer-container p {
    color:blue
}

/* map styling */
#map-wrapper {
    width: 78em;
    height: 300px;
}
#map {
    height: 100%;
    width: 100%;
    border: none;
}

/* text-styling */
.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}