body {
    margin-top: 0%;
    margin-left: 0%;
}
/* banner image */
#banner-container {
    margin: 0px auto;
    width: 100.6%;
    height: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}
/* menu styling */
#menu{
    letter-spacing: 4px;
    line-height: 75px;
    font-size: 110%;
    margin: 0% auto;
    width: 100%;
    color: white;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 2;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid #3a3a3a;
}

/* footer styling */
#footer-container {
    text-align: center;
}

/* map styling */
#map-wrapper {
    width: 78em;
    height: 300px;
}
#map {
    height: 100%;
    width: 100%;
    border: none;
}

/* text-styling */
.text-center {
    text-align: center;
}
.table-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}